body  {
    background: #fff;
    font-size: small;
}

.page-container {
    padding-top: 90px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
}

.footer {
    padding-top: 50px;
    padding-bottom: 90px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

a {
    cursor:  pointer;
}

.center {
    text-align: center;
}

span.pointer {
    cursor: pointer;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

textarea {
    resize: none;
}

/**********  Home Page  **********/

/* Home Page Header */
.logo-tile {
    text-align: center;
}
.logo-img {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
}
.navigation-tile {
    text-align: center;
}
.navigation-tile p {
    color: darkgray;
}
.navigation-anchor {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid darkgray;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.navigation-anchor-img {
    margin-top: 18%;
    width: 60%;
}

/* Home Page Animation */
.homepage-animation {
    padding-top: 30px;
}
.animation-title {
    text-align: center;
}
#opening-video {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.featurette-divider {
    padding-bottom: 50px;
}
.feature-table th, .feature-table td {
    border-top: none !important;
}
.feature p {
    color: darkgray;
}


/**********  Content Page  **********/

.left-column {
}
.inner {
    margin: 0 auto;
}


/**********  Suspended Profile Photo  **********/

.profile-photo-suspended {
    position: fixed;
    bottom: 70px;
    right: 11px;
    height: 52px;
    width: 52px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow:0 0 14px #7f8c8d,0 0 20px #7f8c8d, inset 0 8px 8px 16px gray, inset 10px 0 12px 16px gray;
}
.profile-photo-suspended img {
    width: 100%;
}
.profile-photo {
    width: 184px;
    height: 184px;
    border-radius: 100%;
}
.profile-photo img {
    width: 100%;
}
.profile-general {
    text-align: center;
    padding-top: 10px;
}
.profile-general i {
    color: darkgray;
}
.profile-photo-thumb {
    float: left;
    width: 52px;
    height: 52px;
    border-radius: 100%;
}
.profile-photo-thumb img {
    width: 100%;
}
.profile-photo-medium {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.profile-photo-medium img {
    width: 100%;
}


/**********  Tutorials  **********/

.album-frame {
    float: left;
    display: block;
    width: 222px;
    height: 246px;
    margin-top: 30px;
    margin-left: 15px;
}
.album {
    position: relative;
    display: block;
    width: 180px;
    height: 212px;
    background: #eee;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    background-size: cover;

    /*text-align: right;*/
    /*text-shadow: 0 1px 1px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000;*/
    /*color: #fff;*/

    -webkit-transition: top 0.2s;
    transition: top 0.2s;
}
.album .over {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10%;
    width: 100%;
    text-align: right;
    text-shadow: 0 1px 1px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000;
    color: #fff;
    border-radius: 0 0 4px 4px;
}

.album:hover .over {
    background: rgba(48,48,48,0.7);
}

.album-preview {
    width: 100%;
    height: 0;
    background: #eee;
    overflow: hidden;
    padding: 10px 20px 10px 10px;
    border-radius: 4px;
    overflow-y: scroll;

    -webkit-transition: height 0.2s;
    transition: height 0.2s;
}

.album-preview .preview-intro {
    height: 220px;
}

.album-photo {
    width: 246px;
    height: 246px;
    overflow: hidden;
}
.album-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tag {
    margin: 5px;
}


.pagedown-preview.wmd-panel.wmd-preview.dashed {
    border-style: dashed;
    border-radius: 6px;
    border-color: #95a5a6;
    border-width: 2px;
    min-height: 150px;
}

img {
    max-width: 100%;
}


/**********  System Animation  **********/

/*.ng-leave {*/
    /*-webkit-animation: slideOutUp 1s;*/
    /*display: block!important;*/
/*}*/
.bounce.ng-enter {
    -webkit-animation: bounceInUp 1s;
}
.bounce.ng-enter.ng-enter-active {
    -webkit-animation: bounceInUp 1s;
}